.grid-cell-map {
            min-height: 0;
            overflow: hidden;
        }
        .grid-cell-map .map_container {
            width: 100%;
            height: 100%;
            min-height: 80px;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
        .grid-cell-map .map_container .leaflet-container {
            background: #e0e0e0;
            font-family: inherit;
        }
