.grid-cell-map {
            min-height: 0;
            overflow: hidden;
        }
        .grid-cell-map .map_container {
            height: 100%;
            min-height: 80px;
            min-width: 100%;
            width: auto;
            aspect-ratio: 2 / 1;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
        .grid-cell-map .map_container .leaflet-container {
            background: #e0e0e0;
            font-family: inherit;
        }
        .grid-cell-map .aprs-symbol-icon-wrap {
            width: 32px;
            height: 32px;
            min-width: 32px;
            min-height: 32px;
            border: none;
            background: transparent;
            box-sizing: border-box;
            overflow: visible;
        }
        .grid-cell-map .aprs-symbol-icon-wrap .aprs-symbol-cell {
            width: 32px;
            height: 32px;
            min-width: 32px;
            min-height: 32px;
            max-width: 32px;
            max-height: 32px;
            box-sizing: border-box;
            flex-shrink: 0;
            background-repeat: no-repeat;
            image-rendering: -webkit-optimize-contrast;
            image-rendering: crisp-edges;
        }
